<div class="button__container button__container--<%- buttonClass -%>">
    <a href="<%- buttonLink -%>" title="<%- buttonText %>" class="button button--<%- buttonClass -%>"><%= buttonText -%></a>
</div>