<%- include ('../../../partials/base/header') %>
    <div class="header">
        <h1><%= quiz.title -%></h1>
    </div>
    <div class="main">
        <h4>Owner</h4>
        <p><%= quiz.owner -%></p>
        <h4>Question timeout</h4>
        <p><%= quiz.globalTimeout -%></p>
    </div>
<%- include ('../../../partials/base/footer') %>