
<%- include ('../partials/header') %>
    <div class="header">
        <h1>Room <%= room %></h1>
    </div>
    <div class="main">
        <%- include ('partials/quiz-question', {
            questionid: "1",
            questionround: 1,
            questioncount: 1,
            questiontext: "How many fingers am I holding up?"
        } ) %>
        <%- include ('../partials/quiz-answer', { questionid: "1" }) %>
        <%- include ('../partials/quiz-timer', {questionstart: "0"}) %>
        <%- include ('../partials/quiz-progress', {
            score: "0", 
            maxscore: "0",
            rank: "0", 
            maxrank: "0",

        }) %>
    </div>
<%- include ('../partials/footer') %>